html {
  margin: 0;
  padding: 0;
  background-color: rgba(5, 85, 5, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 20px;
  padding: 0;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.main {
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 82, 62);
}

.main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.main .content p,
.main .content li,
.main .content a,
.main .content h3,
.main .content h2,
.main .content h1 {
  margin: 10px 0;
}

.main .content p,
.main .content li,
.main .content a {
  color: rgb(209, 204, 184);
}

.main .content h1 {
  color: rgb(235, 245, 94);
}

.main .content h2 {
  color: rgb(207, 206, 108);
}

.main .content h3 {
  color: rgb(238, 225, 151);
}

.main #presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main #presentation #grands,
.main #presentation #jeunes,
.main #presentation #freres {
  max-width: 28%;
}

.main #presentation img,
.main #presentation p {
  max-width: 100%;
}

.main #presentation #freres p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main #presentation #freres a {
  text-decoration: none;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(180, 167, 115);
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0.5, 0.5, 0.5, 0.6);
  background-color: rgba(221, 206, 144, 1);
  color: black;
}

.main #presentation #freres a:hover {
  background-color: rgb(243, 232, 188);
}
